<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
	<title>Welcome to ShaChiPoCo</title>
	<link rel="stylesheet" href="{{ assets_url('modules/bootstrap/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ assets_url('modules/fontawesome/css/all.min.css') }}">
	<link rel="stylesheet" href="{{ assets_url('css/style.css') }}">
	<link rel="stylesheet" href="{{ assets_url('css/components.css') }}">
</head>
<body>
<div id="app">
	<section class="section">
		<div class="container mt-5">
			<div class="page-error">
				<div class="page-inner">
					<h1>Welcome to ShaChiPoCo</h1>
				</div>
			</div>
			<div class="simple-footer mt-5">
				Copyright &copy; 2020 KUCKLU
			</div>
		</div>
	</section>
</div>

<script src="{{ assets_url('modules/jquery.min.js') }}"></script>
<script src="{{ assets_url('modules/popper.js') }}"></script>
<script src="{{ assets_url('modules/tooltip.js') }}"></script>
<script src="{{ assets_url('modules/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ assets_url('modules/nicescroll/jquery.nicescroll.min.js') }}"></script>
<script src="{{ assets_url('modules/moment.min.js') }}"></script>
<script src="{{ assets_url('js/stisla.min.js') }}"></script>
<script src="{{ assets_url('js/scripts.min.js') }}"></script>
<script src="{{ assets_url('js/custom.min.js') }}"></script>
</body>
</html>
